// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.middle-1 {
  background-color: $light-grey;
}

.middle-1-cards {
  padding-top: $section-padding;
}

.middle-2 {
}

.middle-3 {
  background-color: $light-grey;
}

[class*='middle-day-'] {
  padding-bottom: $section-padding;
}

.middle-3-text {
  padding-bottom: $section-padding;
}

.bottom-1 {
  background-color: $mid-grey;
  color: $white;
}

.bottom-2 {
  background-color: $brand-color;
  color: $white;
}

.bottom-card {
  color: $brand-color;
}

.bottom-card .card-body{
  color: $white;
  background-color: $mid-grey;
}
