// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  height: auto;
  background-color: $grey;
  list-style: none;
  & li {
    list-style: none;
  }
}

.left-footer img {
  width: 100%;
}
.left-footer, .middle-footer {
  padding-top: 5em;
  padding-bottom: 2em;
  color: $white;
}
.right-footer {
  background-color: $dark-grey;
  padding-top: 5em;
  padding-bottom: 2em;
  color: $white;
}
