// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.hero {
  background-image: url("http://startupweekend.org/assets/sw-hero-home.png");
  background-size: cover;
  @media (min-height: $large) {
      height: auto;
      padding-bottom: $section-padding;
  }
  text-align: center;
  color: $white;
  padding-top: 0px;
}



.hero-text {
  padding-top: $section-padding;
}

.hero-search {
  background-color: $brand-color;
  width: 100%;
  height: 8em;
}

.header-search {
  margin-top: $section-padding;
  border-radius: 13px;
}
