// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Copy text color
/// @type Color
$text-color: black !default;

/// Main brand color
/// @type Color
$brand-color: #0fb24b !default;

/// Light grey
/// @type Color
$light-grey: #f4f4f4 !default;

/// Medium grey
/// @type Color
$mid-grey: #808080 !default;

/// Dark grey
/// @type Color
$grey: #414141 !default;
$dark-grey: #262626;
$white: #ffffff;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


$small: 320px;
$medium: 768px;
$large: 1024px;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

$section-padding : 7em;




/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
